<div class="col-md-10 col-md-offset-1 jumbotron">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input id="user" type="text" class="form-control" placeholder="<%=user%>" aria-describedby="basic-addon1">
    </div>
    <table class="table">
        <tr>
            <th>repository</th>
            <th>language</th>
            <th>LoC</th>
            <th>Total</th>
        </tr>
    <%
        repos.each(function(repo){
                    var totalLoc = 0;
                %>
                <tr>
                    <td><%=repo.get('full_name')%></td>
                    <% var bool = 1;%>
                    <%for(var key in repo.get('stats')){
                        totalLoc += repo.get('stats')[key];
                        if(bool === 1){
                        %>
                            <td><%=key%></td>
                            <td><%=repo.get('stats')[key]%></td>
                            <% bool = 0; %>
                        <%
                        } else {
                            %></tr><tr><td></td>
                             <td><%=key%></td>
                            <td><%=repo.get('stats')[key]%></td>
                            <td><%=totalLoc%></td>
                            <% } } %>
        </tr>
                <%
            });

    %>
    </table>
    <p><% console.log(owner)%></p>
    <img src="<%=owner.avatar_url%>">
    <p><%=owner.html_url%></p>
    <p><%=owner.login%></p>
</div>
