<div class="col-md-10 col-md-offset-1 jumbotron">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input id="user" type="text" class="form-control" placeholder="<%=user%>" aria-describedby="basic-addon1">
    </div>
    <table class="table">
        <tr>
            <th>language</th>
            <th>LoC</th>
            <th>total</th>
        </tr>

        <%
            var totalLoc = 0;
            stats.each(function(lang){
                totalLoc += lang.get('cpt');
        %>
        <tr>                  
            <td><%=lang.get('language')%></td>
            <td><%=lang.get('cpt')%></td>
        </tr>
        <%
            });
        %>
    </table>
    <img src="<%=owner.avatar_url%>">
    <p><%=owner.html_url%></p>
    <p><%=owner.login%></p>
    <p>total line code : <%=totalLoc%></p>
</div>
